body {
    margin:0;
    padding:0;
    height: 100%;

}
a {
    text-decoration:none;
}

.container {
    text-align: center;
    margin-left:5%;

}
.proizvod_kutija {
    border:2px solid  white;
    width:400px;
    height:400px; 
    float:left;
    margin:30px;

}  
.lista {
    text-align: center;
    font-size: 20px;
    background-color: skyblue;
}
ul {
    list-style:none;
    display: inline-block;
    text-align:center;

}
