* {
    font-family: 'Work Sans', sans-serif;
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    scroll-behavior:smooth;
    box-sizing: border-box;
}
.log_in_container {
    margin-top: 100px;
    padding-top: 50px;
}
.log_in_forma, .sign_up_div {
    border: 1px solid black;
    width: 300px;
    margin: auto;
}
.sign_up_div {
    border-top: none;
}
input {
    width: 300px;
    height: 30px;
}
#posalji_korisnika {
    font-size: 15px;
    font-weight: 500;
}
#sign_up_now{
    font-size: 0.7em;
}
.checkbox {
    height: 10px;
    width: 12px;
}
.checkbox_span {
    font-size: 12px;
}